<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Update Pilot</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<h2>Update Pilot</h2>
	<form th:action="@{/pilot/update}" th:object="${newPilot}" method="POST">
		License Number : <br>
		<input type="text" name="licenseNumber" th:value="${pilot.licenseNumber}" readonly/>
		<br>
		Name: <br>
		<input type="text" name="name" th:value="${pilot.name}"/>
		<br>
		Fly Hour: <br>
		<input type="number" name="flyHour" th:value="${pilot.flyHour}"/>
		<br><br>
		<button type="submit">Submit</button>
	</form>
</body>
</html>